<a href="https://colab.research.google.com/github/polavaram-chethana-GC/Data-analytics/blob/main/Sales_Analysis_%26_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Load the datafile from cloud**

In [ ]:
from google.colab import drive
import pandas as pd

# Mount Google Drive
drive.mount('/content/drive')

# File path (adjust if necessary)
path = '/content/drive/MyDrive/salesdaily.csv'
# Load CSV
df = pd.read_csv(path, index_col=0, encoding='windows-1252')

print(df.head())

Mounted at /content/drive
          M01AB  M01AE  N02BA  N02BE  N05B  N05C   R03  R06  Year  Month  \
datum
1/2/2014    0.0   3.67    3.4  32.40   7.0   0.0   0.0  2.0  2014      1
1/3/2014    8.0   4.00    4.4  50.60  16.0   0.0  20.0  4.0  2014      1
1/4/2014    2.0   1.00    6.5  61.85  10.0   0.0   9.0  1.0  2014      1
1/5/2014    4.0   3.00    7.0  41.10   8.0   0.0   3.0  0.0  2014      1
1/6/2014    5.0   1.00    4.5  21.70  16.0   2.0   6.0  2.0  2014      1

          Hour Weekday Name
datum
1/2/2014   248     Thursday
1/3/2014   276       Friday
1/4/2014   276     Saturday
1/5/2014   276       Sunday
1/6/2014   276       Monday

## **Explore the Data**

### **1. Display Top 5 Rows of The Dataset**

In [ ]:
df.head()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
datum,,,,,,,,,,,,
1/2/2014,0.0,3.67,3.4,32.40,7.0,0.0,0.0,2.0,2014,1,248,Thursday
1/3/2014,8.0,4.00,4.4,50.60,16.0,0.0,20.0,4.0,2014,1,276,Friday
1/4/2014,2.0,1.00,6.5,61.85,10.0,0.0,9.0,1.0,2014,1,276,Saturday
1/5/2014,4.0,3.00,7.0,41.10,8.0,0.0,3.0,0.0,2014,1,276,Sunday
1/6/2014,5.0,1.00,4.5,21.70,16.0,2.0,6.0,2.0,2014,1,276,Monday

### **2. Display columns of The Dataset**

In [ ]:
df.columns

Index(['M01AB', 'M01AE', 'N02BA', 'N02BE', 'N05B', 'N05C', 'R03', 'R06',
       'Year', 'Month', 'Hour', 'Weekday Name'],
      dtype='object')

### **3. Check The Last 5 Rows of The Dataset**

In [ ]:
df.tail()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
datum,,,,,,,,,,,,
10/4/2019,7.34,5.683,2.25,22.45,13.0,0.0,1.0,1.00,2019,10,276,Friday
10/5/2019,3.84,5.010,6.00,25.40,7.0,0.0,0.0,0.33,2019,10,276,Saturday
10/6/2019,4.00,11.690,2.00,34.60,6.0,0.0,5.0,4.20,2019,10,276,Sunday
10/7/2019,7.34,4.507,3.00,50.80,6.0,0.0,10.0,1.00,2019,10,276,Monday
10/8/2019,0.33,1.730,0.50,44.30,20.0,2.0,2.0,0.00,2019,10,190,Tuesday

### **4. Shape of the Dataset (Number of Rows * Number of Columns)**

In [ ]:
df.shape

(2106, 12)

## **5. Get Information about the Dataset like**
* Total Number Rows,
* Total Number of Columns,
* Datatypes of Each Column
* Memory Requirement

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2106 entries, 1/2/2014 to 10/8/2019
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   M01AB         2106 non-null   float64
 1   M01AE         2106 non-null   float64
 2   N02BA         2106 non-null   float64
 3   N02BE         2106 non-null   float64
 4   N05B          2106 non-null   float64
 5   N05C          2106 non-null   float64
 6   R03           2106 non-null   float64
 7   R06           2106 non-null   float64
 8   Year          2106 non-null   int64
 9   Month         2106 non-null   int64
 10  Hour          2106 non-null   int64
 11  Weekday Name  2106 non-null   object
dtypes: float64(8), int64(3), object(1)
memory usage: 213.9+ KB

### **6. Check for Null Values In The Dataset**

In [ ]:
df.isnull().sum()

M01AB           0
M01AE           0
N02BA           0
N02BE           0
N05B            0
N05C            0
R03             0
R06             0
Year            0
Month           0
Hour            0
Weekday Name    0
dtype: int64

### **7. Check For any Duplicate Data in the dataset and Drop Them**

In [ ]:
df.duplicated().any()

np.False_

### **8. Get Overall Statistics About The Dataset**

In [ ]:
df.describe()

,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour
count,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000,2106.000000
mean,5.033683,3.895830,3.880441,29.917095,8.853627,0.593522,5.512262,2.900198,2016.401235,6.344255,275.945869
std,2.737579,2.133337,2.384010,15.590966,5.605605,1.092988,6.428736,2.415816,1.665060,3.386954,1.970547
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2014.000000,1.000000,190.000000
25%,3.000000,2.340000,2.000000,19.000000,5.000000,0.000000,1.000000,1.000000,2015.000000,3.000000,276.000000
50%,4.990000,3.670000,3.500000,26.900000,8.000000,0.000000,4.000000,2.000000,2016.000000,6.000000,276.000000
75%,6.670000,5.138000,5.200000,38.300000,12.000000,1.000000,8.000000,4.000000,2018.000000,9.000000,276.000000
max,17.340000,14.463000,16.000000,161.000000,54.833333,9.000000,45.000000,15.000000,2019.000000,12.000000,276.000000

### **9. Drop the columns that are not required**

In [ ]:
df.dropna(axis=0, inplace=True)